.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}

.deleteBtn{
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: #cc0000;
}
.addBtn{
  background-color: #0b9b2f;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #00ff0d;
}
.srhBtn{
  background-color: #0f92cf;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.srhBtn:hover {
  background-color: #0f22cf;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subhead {
  width: calc(20% - 200px); /* ขนาดของแต่ละสินค้าเมื่อแสดงในแถวละ 5 รายการ */
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
}


.product-card {
  width: calc(20% - 20px); /* ขนาดของแต่ละสินค้าเมื่อแสดงในแถวละ 5 รายการ */
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
}


.product-card img {
  width: 100%;
  height: auto;
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

